.card {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-left: 5%;
  .projectnumber {
    border-bottom: solid 2px white;
  }
  p {
    z-index: 5;
  }
}

// small screen
@media screen and (max-width: 390px) {
  .card {
    h6 {
      font-weight: lighter;
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .projectnumber {
    padding-top: 50px;
    font-weight: bolder;
  }
  .proImg {
    position: absolute;
    right: 50px;
    height: 35%;
    width: auto;
    top: 36%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 100%;
    width: auto;
    right: -120px;
    top: 0;
    z-index: 1;
  }
  .tools {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    svg{
      justify-content: space-between 40px;
      height: 40px;
      width: auto;
      margin-right: 10px;
    }
  }
  .links {
    svg {
      height: 30px;
      width: auto;
      margin-top: 10px;
      padding: 0;
      padding-right: 20px;
    }
  }
}

// large screen
@media screen and (min-width: 750px) {
  .card {
    
    h6 {
      font-weight: lighter;
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .projectnumber {
    margin-top: 90px;
    font-size: 4rem;
    font-weight: bolder;
  }
  .proImg {
    position: absolute;
    right: 15%;
    height: 40%;
    width: auto;
    top: 32%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 100%;
    width: auto;
    right: -100px;
    top: 0;
    z-index: 1;
  }
  .tools {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    svg{
      justify-content: space-between 50px;
      height: 60px;
      width: auto;
      margin-right: 30px;
    }
  }
  .links {
    svg {
      height: 60px;
      width: auto;
      margin-top: 20px;
      padding: 0;
      padding-right: 20px;
    }
  }
}

// extra large screen
@media screen and (min-width: 1200px) {
  .card {
    h6 {
      font-weight: lighter;
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .projectnumber {
    margin-top: 80px;
    font-size: 4rem;
    font-weight: bolder;
  }
  .proImg {
    position: absolute;
    right: 25%;
    height: 50%;
    width: auto;
    top: 30%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 100%;
    width: auto;
    right: -30px;
    top: 0;
    z-index: 1;
  }
  .tools {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    svg{
      justify-content: space-between 50px;
      height: 60px;
      width: auto;
      margin-right: 30px;
    }
  }
  .links {
    svg {
      height: 50px;
      width: auto;
      margin-top: 20px;
      padding: 0;
      padding-right: 20px;
    }
  }
}
