.card {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-left: 5%;
  .projectnumber {
    border-bottom: solid 2px white;
  }
}

// small screen
@media screen and (max-width: 668px) {
  .projectnumber {
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .proImg {
    position: absolute;
    right: 50px;
    height: 35%;
    width: auto;
    top: 25%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 78%;
    width: auto;
    right: -70px;
    top: 15%;
    z-index: 1;
  }
  .tools {
    margin-top: 500px;
    svg{
      justify-content: space-between 40px;
      height: 30px;
      width: auto;
      margin-right: 10px;
    }
  }

}

// large screen
@media screen and (min-width: 668px) {
  .projectnumber {
    margin-top: 60px;
    font-size: 3rem;
    font-weight: bolder;
  }
  .proImg {
    position: absolute;
    right: 28%;
    height: 60%;
    width: auto;
    top: 25%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 90%;
    width: auto;
    right: -30px;
    top: 10%;
    z-index: 1;
  }
  .tools {
    margin-top: 250px;
    svg{
      justify-content: space-between 50px;
      height: 60px;
      width: auto;
      margin-right: 30px;
    }
  }

}
// extra large screen
@media screen and (min-width: 900px) {
  .card {
    overflow: hidden;
  }
  .proImg {
    position: absolute;
    right: 30%;
    height: 66%;
    width: auto;
    top: 22%;
    z-index: 2; 
  }
  .proOverlay {
    position: absolute;
    height: 90%;
    width: auto;
    right: -30px;
    top: 10%;
    z-index: 1;
  }
}