.aboutmain {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  position: absolute;
}

.pinkdimond {
  position: absolute;
  left: 0;
  height: 800px;
  width: auto;
}
.profiledimond {
  position: absolute;
  right: 100px;
  top: 0;
  height: 700px;
  width: auto;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.paraone {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  height: 200px;
  width: 300px;
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 170px;
  left: 250px;
  border: solid 2px fuchsia;
}
.paratwo {
  height: 200px;
  width: 300px;
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 350px;
  left: 500px;
  border: solid 2px fuchsia;
}
