.heading {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  position: absolute;
  overflow: hidden;
    h1 {
      position: absolute;
      padding-top: 70%;
      font-size: 4rem;
      margin: 20px;
      z-index: 2;
    }
    h2 {
      position: absolute;
      padding-top: 70%;
      font-size: 4rem;
      margin: 20%;
      z-index: 2;
    }
}
  .pink {
    position: absolute;
    height: 60%;
    width: auto;
    bottom: -10%;
    left: 0;
    z-index: 1;
  }

  // .laptop {
  //   position: absolute;
  //   height: 500px;
  //   width: auto;
  //   right: 0;
  //   bottom: 0;
  //   border: solid 2px fuchsia;
  //   z-index: 0;
  // }
  .orangedimond {
    position: absolute;
    height: 70%;
    width: auto;
    right: 0;
    top: -10%;
    margin: 0;
    z-index: 1;
  }
  .jem {
    margin: 0;
    padding: 2%;
    position: absolute;
    right: 0;
    font-size: 2rem;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
  }