.heading {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  .title { 
    position: absolute;
    top: 70%;
    left: 3%;
    font-size: 3rem;
    z-index: 2;
    .developer {
      text-indent: 15%;
    }
  }
  .pink {
    position: absolute;
    height: 70%;
    width: auto;
    bottom: -5%;
    left: 0;
    z-index: 1;
  }
  .orangedimond {
    position: absolute;
    height: 70%;
    width: auto;
    right: -5%;
    top: -15%;
    z-index: 1;
  }
}
@media screen and (min-width: 668px) {
  .heading {
    .title {
      font-size: 6rem;
    }
  }
  .laptop {
    position: absolute;
    height: 500px;
    width: auto;
    right: -5%;
    bottom: -5%;
    z-index: 0;
  }
}