.heading {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -20;
  border: solid 2px fuchsia;
    h1 {
      position: absolute;
      padding-top: 200px;
      font-size: 8rem;
      margin: 0;
      z-index: 100;
    }
    h2 {
      position: absolute;
      padding-top: 200px;
      font-size: 8rem;
      margin: 125px;
      z-index: 10;
    }
}

  .pink {
  position: absolute;
  height: 100vh;
  width: auto;
  z-index: -10;
  border: solid 2px fuchsia;
  }

  .laptop {
    position: absolute;
    height: 600px;
    width: auto;
    right: 0;
    bottom: 0;
    z-index: -1000;
    border: solid 2px fuchsia;
  }
  .orangedimond {
    position: absolute;
    right: 0;
    top: -110px;
    z-index: 300;
    margin: 0;
    border: solid 2px fuchsia;
  }
  .jem {
    margin: 0;
    padding: 0;
    padding-right: 50px;
    padding-top: 20px;
    position: absolute;
    right: 0;
    top: -110px;
    z-index: 301;
    font-size: 3rem;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }