.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  h1 {
    padding-top: 40px;
    border-bottom: solid 2px white;
    width: 100vw;
    font-weight: bolder;
  }
  p {
    padding-top: 10px;
  }
  .pinkdimond {
    position: absolute;
    height: 80%;
    width: auto;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .phone {
    height: 10px;
    width: auto;
    z-index: -100;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-left: 5%;
    svg {
      padding: 30px 0px 30px 0;
      height: 50px;
      width: auto;
    }
  }
}

@media screen and (min-width: 750px) {
  .socials{
    .header {
      display: flex;
      flex-direction: column;
      height: 800px;
      width: 220px;
      margin-left: 5%;
      font-size: 2rem;
      svg {
        padding: 20px 0px 20px 0;
        height: 90px;
        width: auto;
        z-index: 1;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    .phone {
      position: absolute;
      height: 50%;
      width: auto;
      top: 40%;
      right: 400px;
      z-index: 1;
    }
    .header {
      display: flex;
      flex-direction: column;
      height: 800px;
      width: 220px;
      margin-left: 5%;
      padding-top: 40px;
      svg {
        padding: 20px 0px 20px 0;
        height: 50px;
        width: auto;
        z-index: 1;
      }
    }
  }
}
