.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between 20px;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: absolute;
  overflow: hidden;
  h3 {
    padding-top: 60px;
    padding-left: 20px;
  }
  p{
    padding-left: 20px;
  }
}

a {
  height: 100%;
  width: auto;
  svg {
    padding-left: 30px;
    height: 50%;
    width: auto;
  }
}

.jem {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 2rem;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}
.pinkdimond {
  position: absolute;
  height: 80%;
  width: auto;
  right: 0;
  bottom: 0;
}