.nav {
  height: 40px;
  width: 70vw;
  position: sticky;
  background-color: black;
  color: white;
  p {
    position: relative;
    display: inline;
    justify-content: space-evenly;
  }
  h3 {
    position: relative;
    display: inline;
    justify-content: space-evenly;
    padding-left: 100px;
  }
}
a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
